<!DOCTYPE html>
<html>

<body style="margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; color:#333; line-height:1.6;">

    <p>Dear {{#if name}}
        {{name}}
        {{else}}
        HR
        {{/if}},</p>

    <p>I hope you are doing well. I am writing to inquire about any current or upcoming
        <strong>Frontend Engineer</strong> opportunities at
        <strong>
            {{#if company}}
            {{company}}
            {{else}}
            your organization
            {{/if}}
        </strong>.
    </p>

    <p>
        I’m a <strong>Frontend Engineer</strong> with 3+ years of experience building
        <strong>scalable, secure enterprise applications</strong> using
        <strong> Angular, React, TypeScript, NgRx, RxJS, AG Grid, Angular Material, Tailwind CSS, Performance
            Optimization, Efficient API Integration, Micro-frontend architecture, and Responsive Design</strong>, along
        with
        strong backend expertise in <strong>Java, Spring Boot, Hibernate, JPA, Elastic search,
            Docker, Kubernetes, Jenkins, Microservices</strong>.
        I design <strong>RESTful APIs with JWT-based authentication</strong>, work with
        <strong>PostgreSQL and MySQL</strong>, and build reliable systems using
        <strong>Maven, NPM, Liquibase, and RabbitMQ</strong>.
        Currently at <strong>Prospecta Software</strong>, I deliver production-ready features,
        improve performance, and collaborate in <strong>Agile teams</strong> using
        <strong>Jira, Confluence, and Kanban Boards</strong>.
    </p>

    <p>
        If there is a suitable opportunity, I would be glad to be considered.<br>
        Please find my attached resume for your reference.
    </p>

    <p>Thank you for your time and consideration.</p>

    <p>
        Warm regards,<br />
        <strong>Nikhil Raj</strong>
    </p>

    <p>
        📞 <a href="tel:+916203651872" style="color:#333; text-decoration:none;">+91-6203651872</a><br />
        📧 <a href="mailto:nikhilrajcse2023@gmail.com">nikhilrajcse2023@gmail.com</a><br />
        🌐
        <a href="https://nikhilraj2061.netlify.app" target="_blank">Portfolio</a> |
        <a href="https://github.com/NikhilRaj060" target="_blank">GitHub</a> |
        <a href="https://linkedin.com/in/nikhil-raj" target="_blank">LinkedIn</a>
    </p>

</body>

</html>